<section id="season-links">
  <h3>
    <span id="season-number"><%= @context.season.to_s %></span>
    By Season
  </h3>
  <ul id="season-link-list">
  <% @season_link_presenter.links \
    .zip(@season_link_presenter.headers) \
    .each do |link, header| %>
    <% if header.present? %>
      <h4><%= header %></h4>
    <% end %>
    <li>
      <%= link %>
    </li>
  <% end %>
  </ul>
</section>
