<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= render "header.text" -%></h1>
    <ul>
      <% @results.each do |result| %>
        <li><%= result %></li>
      <% end %>
    </ul>
  </body>
</html>
