<% currentSite = '' %>
<% links.each do |l| %>
	<% if currentSite != l.site %>
		<h4><%= l.site %></h4>
		<% currentSite = l.site %>
	<% end %>
	<li>
		<a class="<%= SITELINKCLASS %>" href="<%= l.link %>" target="new"><%= l.description %></a>
	</li>
<% end %>