/* -------------- */
/* - API Styles - */
/* -------------- */

article section:first-child h3 {
	margin: 3px 20px 7px;
}

article section:first-child p {
	margin: 3px 40px 11px;
}

article h3 {
	padding: 0;
}

article li {
	margin-bottom: 20px;
}

article li * {
	margin: 3px 20px;
}

form input {
	width:365px;
	font-size: 13px;
}

form input:last-child {
	width: 50px;	
	margin-left: 50px;
}

textarea {
	width: 890px;
	height: 100px;
	margin-left: 50px;
}

form {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width:100%;
}

.inputLabel {
	width: 50px;
	margin-left: 50px;
	display: inline-block;
	vertical-align: middle;
}