/* ----------- */
/* - Columns - */
/* ----------- */

//
// Height and Width Calculations
//

$total-height: 805px;

$section-margin: 5px;
$section-border: 2px;

$column-height: $total-height - 2.0 * $section-margin; 
$section-height: $column-height - 2.0 * $section-border;

$header-height: 28px;
$first-column-margin: 10px;

$first-column-available-height: $section-height - $first-column-margin - 2.0 * $section-border; 
$third-column-available-height: $section-height - 2.0 * $header-height;

$season-section-height: $first-column-available-height * 0.25;
$team-section-height: $first-column-available-height - $season-section-height;
$season-link-height: $third-column-available-height * 0.53;
$game-link-height: $third-column-available-height - $season-link-height;

article {
  height: $total-height;
}

.column {
  float: left;
  margin: 0;
  padding: 0;
  height: $column-height;
  width: 33.33333333%;
  
  section {
    overflow:hidden;
    height: $section-height;
    padding: 0;
    margin: $section-margin;
  }

  // Season section
  &:first-child section:first-child {
    height: $season-section-height;
    margin-top: $section-margin;
  }
  
  // Team section
  &:first-child section {
    height: $team-section-height;
    margin-top: $first-column-margin;
  } 
  
}

/* --------- */
/* - Lists - */
/* --------- */

/* Lists need a height so overflow works properly */
article ol, article ul {
  overflow:auto;
  height: 100px; 
}

#seasonList{
  height: $season-section-height - $header-height;  
}

#teamList {
  height: $team-section-height - $header-height; 
}

#seasonLinkList {
  height: $season-link-height;
}

#gameLinkList {
  height: $game-link-height;
}

/* ----------- */
/* - Anchors - */
/* ----------- */

article a, article a:visited {
  color:#000;
  display: block;
  margin-left:30px;
  transition: margin 0.1s ease-out;
}

article a:hover {
  margin-left:25px;
}

div:first-child a {
  margin-left:15px;
}

div:first-child a:hover {
  margin-left:10px;
}

/* ----------- */
/* - Classes - */
/* ----------- */

.selected, .selected:hover, .selected a, .selected:hover a {
  background-color: #00AEFF;
  background-image: linear-gradient(top, #00AEFF 0%, #36C3FF 50%, #00A3EF 100%);
}

.selected a, .selected:hover a, .selected a:visited {
  color:#FFF;
}

.disabled, .disabled:hover {
  color: #C9C9C9;
  text-decoration: underline;
}

$blue-color: #0082CE;
$border-style: 5px solid transparent;

.sort, #gameNumber, #seasonNumber, .glyph-down, .glyph-up {
  float: right;
  color:$blue-color;
  text-decoration: none;
}

.glyph-down {
  width: 0;
  height: 0;
  margin: 4px 0 4px 4px;
  
  border: {
    left: $border-style;
    right: $border-style;
    top: 10px solid $blue-color;
  }
  
}

.glyph-up {
  width: 0;
  height: 0;
  margin: 4px;
  
  border: {
    left: $border-style;
    right: $border-style;
    bottom: 10px solid $blue-color; 
  }
  
}