/* ----------- */
/* - Article - */
/* ----------- */
article {
  height: 870px; }

/* ----------- */
/* - Columns - */
/* ----------- */
.column {
  float: left;
  margin: 0;
  padding: 0;
  height: 860px;
  width: 33.33333333%; }
  .column section {
    overflow: hidden;
    height: 856px;
    padding: 0;
    margin: 5px; }
  .column #Seasons {
    height: 252.6px; }
  .column #Teams {
    height: 589.4px;
    margin-top: 10px; }
  .column #SeasonLinks {
    height: 454.68px; }
  .column #GameLinks {
    height: 387.32px;
    margin-top: 10px; }

/* --------- */
/* - Lists - */
/* --------- */
/* Lists need a height so overflow works properly */
article ol, article ul {
  overflow: auto;
  height: 100px; }

#seasonList {
  height: 224.6px; }

#teamList {
  height: 561.4px; }

#gameList {
  height: 828px; }

#seasonLinkList {
  height: 426.68px; }

#gameLinkList {
  height: 359.32px; }

/* ----------- */
/* - Anchors - */
/* ----------- */
article a, article a:visited {
  color: #000;
  display: block;
  margin-left: 30px;
  transition: margin 0.1s ease-out; }

article a:hover {
  margin-left: 25px; }

/* ----------- */
/* - Classes - */
/* ----------- */
.selected, .selected:hover, .selected a, .selected:hover a {
  background-color: #00AEFF;
  background-image: -webkit-linear-gradient(bottom, #00aeff 0%, #36c3ff 50%, #00a3ef 100%);
  background-image: -moz-linear-gradient(bottom, #00aeff 0%, #36c3ff 50%, #00a3ef 100%);
  background-image: -ms-linear-gradient(bottom, #00aeff 0%, #36c3ff 50%, #00a3ef 100%);
  background-image: -o-linear-gradient(bottom, #00aeff 0%, #36c3ff 50%, #00a3ef 100%);
  background-image: linear-gradient(to top, #00aeff 0%, #36c3ff 50%, #00a3ef 100%); }

.selected a, .selected:hover a, .selected a:visited {
  color: #FFF; }

.disabled, .disabled:hover {
  color: #C9C9C9;
  text-decoration: underline; }

.sort, #gameNumber, #seasonNumber, .glyph-down, .glyph-up {
  float: right;
  color: #0082ce;
  text-decoration: none; }

.glyph-down {
  width: 0;
  height: 0;
  margin: 4px 0 4px 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #0082ce; }

.glyph-up {
  width: 0;
  height: 0;
  margin: 4px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #0082ce; }
