<section id="api">
	<h3>Nice Time on Ice API Browser</h3>
	<p>
		A <abbr title="Representational State Transfer">REST</abbr> <abbr title="Application Programming Interface">API</abbr> for Nice Time on Ice.
  </p>
  <p>
		This API includes resources for seasons, games, teams, and links. Resources can be accessed using the appropriate identifiers. Query string parameters are available to filter the returned data.
		Season, game, and team data is scraped from the NHL <a href="http://www.nhl.com/ice/schedulebyseason.htm" target="new">schedule page</a> every morning at 6:00 am EST.
	</p>
	<p>
    <strong>Please note:</strong> data is updated once per day. Please cache results instead of calling this API repeatedly! This site is hosted on a free Heroku account with limited bandwidth.
	</p>
</section>
<p class="under-construction">
<strong>
  I am still in the process of updating this page. The API is still active. The routes are described <a href="https://nicetimeonice.herokuapp.com/api">here</a>. Sorry for the delay!
</strong>
</p>
