/* ----------- */
/* - Columns - */
/* ----------- */

#main {
  @mixin column() {
    float: left;
    margin: 0;
    padding: 0;

    section {
      height: 100%;
      padding: 4px;
      margin: 5px;
      overflow: hidden;

      h3 {
        height: 20px;
      }

      .list-wrapper {
        height: 95%;
        overflow:scroll;
      }
    }

    ol, ul {
      padding-bottom: 15px;
    }
  }

  .column {
    @include column;
    width: 33.33333333%;

    section {
      height: 300px;
    }
  }

  .three-columns {
    @include column;
    width: 100%;

    section {
      height: 1000px;
    }
  }

  /* ----------- */
  /* - Anchors - */
  /* ----------- */

  a, a:visited {
    color:#000;
    display: block;
    margin-left:30px;
    transition: margin 0.1s ease-out;
  }

  a:hover {
    margin-left:25px;
  }

  /* ----------- */
  /* - Classes - */
  /* ----------- */

  @mixin selected-anchor-background($vendor-prefix) {
    image: -#{$vendor-prefix}-linear-gradient(bottom, #00AEFF 0%, #36C3FF 50%, #00A3EF 100%);
  }

  .selected, .selected:hover, .selected a, .selected:hover a {
    background: {
      color: #00AEFF;

      @include selected-anchor-background(webkit);
      @include selected-anchor-background(moz);
      @include selected-anchor-background(ms);
      @include selected-anchor-background(o);

      image: linear-gradient(to top, #00AEFF 0%, #36C3FF 50%, #00A3EF 100%);

    }
  }

  .selected a, .selected:hover a, .selected a:visited {
    color:#FFF;
  }

  .disabled, .disabled:hover {
    color: #C9C9C9;
    text-decoration: underline;
  }

  $blue-color: #0082CE;
  $border-style: 5px solid transparent;

  .sort, #game-number, #season-number, .glyph-down, .glyph-up {
    float: right;
    color:$blue-color;
    text-decoration: none;
  }

  .glyph-down {
    width: 0;
    height: 0;
    margin: 4px 0 4px 4px;

    border: {
      left: $border-style;
      right: $border-style;
      top: 10px solid $blue-color;
    }
  }

  .glyph-up {
    width: 0;
    height: 0;
    margin: 4px;

    border: {
      left: $border-style;
      right: $border-style;
      bottom: 10px solid $blue-color;
    }
  }
}
